


@font-face {
    font-family: '/fonts/porter_sans_blockblock';
    src: url('/fonts/porter-sans-inline-block-webfont.eot');
    src: url('/fonts/porter-sans-inline-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/porter-sans-inline-block-webfont.woff') format('woff'),
         url('/fonts/porter-sans-inline-block-webfont.ttf') format('truetype'),
         url('/fonts/porter-sans-inline-block-webfont.svg#porter_sans_blockblock') format('svg');
    font-weight: normal;
    font-style: normal;
    color: #1A4239;

}




#tableElements {
    bottom: 0;
    display: table;
    position: absolute;
    z-index: 1000;
    width: 100%;
}


.tablebutton {
    height:26px;
    width: 100%;
    position: relative;
    background: rgba(203,203,203, .8);
    color:#3585a3;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.tablebutton:hover {
    color:white;
    background: rgba(62,129,154, .8);
}

.invert {
    color:#3585a3;
    background-color: white;
/*    background: rgba(62,129,154, .8);*/
}

#results {
    position: relative;
    left: 50%;
    font-size: 26px;
}

.logindiv {
  z-index: 1000;
}


/*buttons and hover on desktop*/
.login {
   background-image: url('/static/img/loginhover.png');
   height: 100px;
   width: 100px;
   position:relative;
   right: 2%;
   border:none;
   outline: 0;
   bottom:5%;
}

.login:hover {
   background-image: url('/static/img/loginsmall.png');
}


.signup {
   background-image: url('/static/img/signuphover.png');
   height: 100px;
   width: 100px;
   border: none;
   position:relative;
   bottom: 5%;
}

.signup:hover {
   background-image: url('/static/img/signupsmall.png');
}



body {
    padding: -1px;
    margin: -1px;
    background-color: white;
}

h1 {
    font-family: 'porter_sans_blockblock';
    color: #434343;;
}




select:focus {outline:0;}


#projectName {
    display: inline-block;
    margin-left: 5px;
}

#map { 
    position:fixed; 
    top:0; bottom:0; left:0; width:100%;
}


#topBar {
    height:80px;
    text-align: left;
    vertical-align: middle;
/*    margin-top: 40px;*/
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: #cbcbcb;
}



#title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#signup {
    left: 80%;
    z-index: 1000;
    position:absolute;
}

#login{
    left: 89%;
    z-index: 1000;
    position:absolute;
}

#add-route {
    left: 0;
    z-index: 1000;
    position:absolute;
    top:12%;
}



.table {
    border-collapse: collapse;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 100%;
    display: table;
}



th {
    border-collapse:collapse
    vertical-align: middle;
    text-align: center;
    /*border: 1px dotted white;*/
    /*width: 16.6%;*/
    height:40px;
    background-color: #bcbcbc;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #434343;
    opacity:.9;
    font-size: 14px;
    padding: 1%;
}

td {
    border-collapse:collapse
    vertical-align: middle;
    text-align: center;
    /*width: 16.6%;*/
    height:40px;
    color:white;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    /*border: 1px solid white;*/
}

.rowid {
    color: #434343;
}

/*buttons related to weighting*/
.weighting {
    display: inline-block;
    position:relative;
    background-color: #bcbcbc;
    text-align: center;
    color:white;
    border-radius: 0;
    border:none;
    font-size: 14px;
    list-style: none;
    -webkit-border: 0;
    font-family: 'Source Sans Pro', sans-serif;
    /*-webkit-appearance:none;*/

}

#weight {
    background-color: #bcbcbc;
    opacity:.9;
}

.caption{
    color:#434343;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    height:30px;
    opacity:.9;
    font-size: 20px;
    width: 100%
    vertical-align: bottom;
    text-align: center;
}

span {
  height: 24px;
  vertical-align: bottom;
  display: inline-block;  
}



/*adds colors to specific lines in table*/
#weight:hover {
    background-color: #bcbcbc;
    opacity:1;
}

#tableRow0 {
      background-color: #4AA0D3;
      opacity:.9;
}

#tableRow1 {
      background-color: #2C9359;
      opacity:.9;
}

#tableRow2 {
      background-color: #9BB31C;
      opacity:.9;
}

#tableRow3 {
      background-color: #4BBCA1;
      opacity:.9;
}

#tableRow4 {
      background-color: #B3A81D;
      opacity:.9;
}

#tableRow5 {
      background-color: #31938B;
      opacity:.9;
}

#tableRow6 {
      background-color: #4AD35A;
      opacity:.9;
}

#tableRow7 {
      background-color: #99C946;
      opacity:.9;
}

#tableRow8 {
      background-color: #ABE345;
      opacity:.9;
}


/*hover*/
#tableRow0:hover {
      opacity:1;
}
#tableRow1:hover {
      opacity:1;
}
#tableRow2:hover {
      opacity:1;
}
#tableRow3:hover {
      opacity:1;
}
#tableRow4:hover {
      opacity:1;
}
#tableRow5:hover {
      opacity:1;
}
#tableRow6:hover {
      opacity:1;
}
#tableRow7:hover {
      opacity:1;
}
#tableRow8:hover {
      opacity:1;
}

.form-login {
    color:#3585a3;
    background-color: #bcbcbc;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    opacity:.8;
    height: 300px;
    margin-top: 3%;
    vertical-align: center;
    text-align: center;
}



select {
    -webkit-border: 0;
    outline: none;
    cursor: pointer;
     padding: 10px;
    margin: 0 auto;
}


a {
    text-decoration: none;
}

#echart {
  height:200px;
  top:25px;
  right:25px;
  left:25px;
  width:90%;
}

#tdchart {
  width:200px.,;
}


#chart {
  background: rgba(203,203,203, .8);
  height: 250px;
  width: 100%
}

.c3-line-route1 {
  stroke-width:3px;
}

.c3-line-route2 {
  stroke-width:3px;
}

.c3-line-route3 {
  stroke-width:3px;
}

.c3-line-route4 {
  stroke-width:3px;
}

.c3-line-route5 {
  stroke-width:3px;
}

.c3-line-route6 {
  stroke-width:3px;
}

.c3-line-route7 {
  stroke-width:3px;
}

.c3-line-route8 {
  stroke-width:3px;
}

.c3-line-route9 {
  stroke-width:3px;
}


.modal {
    z-index: 1000;
    position:relative;
    width:100%;
}
