


@font-face {
    font-family: '/fonts/porter_sans_blockblock';
    src: url('/fonts/porter-sans-inline-block-webfont.eot');
    src: url('/fonts/porter-sans-inline-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/porter-sans-inline-block-webfont.woff') format('woff'),
         url('/fonts/porter-sans-inline-block-webfont.ttf') format('truetype'),
         url('/fonts/porter-sans-inline-block-webfont.svg#porter_sans_blockblock') format('svg');
    font-weight: normal;
    font-style: normal;
    color: #1A4239;

}

#tableElements {
    bottom: 0;
    display: table;
    position: absolute;
    z-index: 1000;
    width: 100%;
}


.tablebutton {
    height:30px;
    width: 100%;
    position: relative;
    background: rgba(255,255,255, .8);
    color:#3585a3;
    font-family: 'Heiti SC';
    font-size: 16px;
}

.tablebutton:hover {
    color:white;
    background: rgba(62,129,154, .8);
}

.invert {
    color:white;
    background: rgba(62,129,154, .8);
}

#results {
    position: relative;
    left: 50%;
    font-size: 30px;
}

/*buttons and hover on desktop*/
.login {
   background-image: url('/static/img/loginhover.png');
   height: 110px;
   width: 110px;
   border:none;
   position:relative;
   margin-left: -12px;
}

.login:hover {
   background-image: url('/static/img/loginsmall.png');
}

.signup {
   background-image: url('/static/img/signuphover.png');
   height: 110px;
   width: 110px;
   border: none;
   position:relative;
   margin-left: -12px;
}

.signup:hover {
   background-image: url('/static/img/signupsmall.png');
}



body {
    padding: -1px;
    margin: -1px;
    background-color: white;
}

h1 {
    font-family: 'porter_sans_blockblock';
    color: #434343;;
    color: #434343;
}




select:focus {outline:0;}


#projectName {
    margin-top: 50px;
    display: inline-block;
    margin-left: 5px;
}

#map { 
    position:fixed; 
    top:0; bottom:0; left:0; width:100%;
}


#topBar {
    height:120px;
    text-align: left;
    vertical-align: middle;
/*    margin-top: 40px;*/
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: rgba(0,0,0, .2);
}



#title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#signup {
    font-family: 'porter_sans_blockblock';
    left: 75%;
    z-index: 1000;
    position:absolute;
}

#login{
    left: 85%;
    z-index: 1000;
    position:absolute;
}

#add-route {
    left: 15px;
    z-index: 1000;
    position:absolute;
    top:25%;
}



.table {
    border-collapse: collapse;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 100%;
    display: table;
}



th {
    border-collapse:collapse
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    /*border: 1px dotted white;*/
    /*width: 16.6%;*/
    height:40px;
    background-color: #bcbcbc;
    font-family: 'Heiti SC';
    color: #434343;
    opacity:.8;
    font-size: 14px;
    padding: 1%;
}

td {
    border-collapse:collapse
    vertical-align: middle;
    text-align: center;
    /*width: 16.6%;*/
    height:40px;
    color:white;
    font-size: 14px;
    font-family: 'Heiti SC';
    /*border: 1px solid white;*/
}

.rowid {
    color: #434343;
}

/*buttons related to weighting*/
.weighting {
    display: inline-block;
    position:relative;
    height: 100%;
    background-color: #bcbcbc;
    text-align: center;
    color:white;
    border-radius: 20px;
    border:none;
    font-size: 30px;
    list-style: none;
    -webkit-border: 0;
    -webkit-appearance:none;

}

#weight {
    background-color: #bcbcbc;
    opacity:.8;
    font-size: 10px;
}

.caption{
    color:#434343;
    background-color: white;
    font-family: 'Heiti SC';
    height:24px;
    opacity:.8;
    font-size: 20px;
    width: 100%
    vertical-align: middle;
    text-align: center;
}


/*adds colors to specific lines in table*/
#tableRow0 {
      background-color: #4AA0D3;
      opacity:.8;
}

#tableRow1 {
      background-color: #2C9359;
      opacity:.8;
}

#tableRow2 {
      background-color: #9BB31C;
      opacity:.8;
}

#tableRow3 {
      background-color: #4BBCA1;
      opacity:.8;
}

#tableRow4 {
      background-color: #B3A81D;
      opacity:.8;
}

#tableRow5 {
      background-color: #31938B;
      opacity:.8;
}

#tableRow6 {
      background-color: #4AD35A;
      opacity:.8;
}

#tableRow7 {
      background-color: #99C946;
      opacity:.8;
}

#tableRow8 {
      background-color: #ABE345;
      opacity:.8;
}


/*hover*/
#tableRow0:hover {
      opacity:1;
}
#tableRow1:hover {
      opacity:1;
}
#tableRow2:hover {
      opacity:1;
}
#tableRow3:hover {
      opacity:1;
}
#tableRow4:hover {
      opacity:1;
}
#tableRow5:hover {
      opacity:1;
}
#tableRow6:hover {
      opacity:1;
}
#tableRow7:hover {
      opacity:1;
}
#tableRow8:hover {
      opacity:1;
}

.form-login {
    color:#3585a3;
    background-color: #bcbcbc;
    font-family: 'Heiti SC';
    opacity:.8;
    height: 300px;
    margin-top: 10%;
    vertical-align: center;
    text-align: center;
}



.modal {
    z-index: 1000;
    position:relative;
    width:100;
}



select {
    -webkit-border: 0;
}


a {
    text-decoration: none;
}

