@font-face {
    font-family: 'porter_sans_blockblock';
    src: url('porter-sans-inline-block-webfont.eot');
    src: url('porter-sans-inline-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('porter-sans-inline-block-webfont.woff') format('woff'),
         url('porter-sans-inline-block-webfont.ttf') format('truetype'),
         url('porter-sans-inline-block-webfont.svg#porter_sans_blockblock') format('svg');
    font-weight: normal;
    font-style: normal;

}




body {
    padding: -1px;
    margin: -1px;
    background-color: #FCF9EA;
}

h1 {
    font-family: 'porter_sans_blockblock';
}

.button {
    display: block;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border:10px;
    left:10px;
    margin: -1px;
}

button:focus {outline:0;}

#projectName {
    margin-top: 50px;
    display: inline-block;
    margin-left: 5px;
    font-family: 'Josefin+Sans';
}

#map { 
    position:absolute; 
    top:120px; bottom:0; left:120px; width:100%;
    /*z-index: -1;*/

}


#tablePop {
    position: relative;
    z-index: 100;
}


#topBar {
    background-color: #CAE895;
    height:130px;
    text-align: left;
    vertical-align: middle;
    margin-left: 10px;
}



#leftBar {
    width:100px;
    display:inline-block;
    height:500px;
    margin-left: 10px;
}

#title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#routes {
    background-color: #C6B3FF;
    font-family: 'porter_sans_blockblock';
}
#remove-route{
    background-color: #AAFFEE;
    font-family: 'porter_sans_blockblock';
}

#add-route {
    background-color: #E89599;
    font-family: 'porter_sans_blockblock';
}

#table_open {
    background-color: #FFE3B1;
    font-family: 'porter_sans_blockblock';
}


#table {
    border-collapse: collapse;
    vertical-align: middle;
    display: inline-block;
    text-align: center;

}


th {
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    /*border: 1px solid black;*/
    width: 125px;
    height:40px;
    background-color: white;
}

td {
    vertical-align: middle;
    text-align: center;
    /*border: 1px solid orange;*/
    width: 125px;
    height:40px;
    color:white;
}

/*highlights specific lines in table*/
#tableRow0 {
      background-color: #793FFF;
}

#tableRow1 {
      background-color: #394EE8;
}

#tableRow2 {
      background-color: #4CAAFF;
}

#tableRow3:hover {
      background-color: #39DCE8;
}

#tableRow4:hover {
      background-color: #33FFB4;
}

#tableRow0:hover {
      background-color: #B9A5FC;
}


.overlay {
    top: 200px;
    bottom: 110%;
    left: 100px;
    width: 100%;
    z-index: 1;
    /*opacity: .1;*/
    /*background: white;*/
 
} 

