{% extends 'base.html' %}
{% block body %}

<form class="form-login" method="POST" action="/login">
	<br>
	<br>
    <p class="form-heading">please login</p>
    <input type="email" name="email" class="form-control" placeholder="email address" required autofocus /><br>
    <input type="password" name="password" class="form-control" placeholder="password" required /><br>
    <div class="logindiv">
	    <input type="submit" class="login" id="loginpagebutton" value=""></input>
	</div>
</form>

{% endblock %}