
{% extends 'base.html' %}
{% block body %}


<body>
  <div id="topBar"><div id="projectName"><h1>design better bike lanes!</h1></div></div><br>
  <div id="leftBar">
    <a href="/login"><button id="login" class="remove-button, button">Login</button></a><br>
    <a href="/sign_up"><button id="signup" class="routes, button">Sign Up</button><br></a>
<!--     <button id="logout" class="button">Logout</button><br> -->
    <button id="add-route" class="button">Add Route</button><br>
    <button class="table_open, button" id="table_open">Open Table</button><br>
  </div>



<!-- standard table -->
       <div id="sTableDiv" class="modal">
          <table class="table" id="sTable">
            <thead><tr><th> Route ID </th><th> Standarized Distance </th><th> Standardize Lefts </th><th> Standardize Elevation </th><th> Standardize Speed </th><th> Total Score </th><tr><tr><td>Weighting</td><td><select class='weighting' id='dWeight' name='dWeight'><option value='1'>Somewhat important</option><option value='2'>Important</option><option value='3'>Very important</option></select></td><td><select name='lWeight' class='weighting' id='lWeight' ><option value='1'>Somewhat important</option><option value='2'>Important</option><option value='3'>Very important</option></select></td><td><select name='eWeight' class='weighting' id='eWeight'><option value='1'>Somewhat important</option><option value='2'>Important</option><option value='3'>Very important</option></select></td><td><select name='sWeight' class='weighting' id='sWeight'><option value='1'>Somewhat important</option><option value='2'>Important</option><option value='3'>Very important</option></select></td></tr></thead>

            <!-- dynamically update this information -->
            <tbody id="table_route_info"></tbody>

          </table>
          <button class="button" id="show-raw-data">Show Raw Data</button>
          <button class="button" id="close">Close</button>
      </div>


<!-- raw table -->
       <div id="rTableDiv" class="modal">
          <table class="table" id="rTable">
            <thead><tr><th> Route ID </th><th> Total Distance </th><th> Total Lefts </th><th> Elevation Change </th><th> Average Speed </th><tr></thead>
            <!-- dynamically update this information -->
            <tbody id="raw_info"></tbody>

          </table>
          <button class="button" id="show-standard-data">Show Standard Data</button>
      </div>





      <!-- set up the map -->
      <div id='map'></div>
        <script>
        L.mapbox.accessToken = 'pk.eyJ1Ijoic2JpbmRtYW4iLCJhIjoiaENWQnlrVSJ9.0DQyCLWgA0j8yBpmvt3bGA';
        var map = L.mapbox.map('map', 'sbindman.719fd15d').setView([37.78, -122.44], 14); 
        map.doubleClickZoom.disable();
        </script>


  
<!-- js files -->
  <script src="/static/definitions.js"></script>
  <script src="/static/apiModel.js"></script>
  <script src="/static/functionality.js"></script>
  <script src="/static/pageActions.js"></script>
  
  <!-- testing -->
  <script src="/static/jasmine/dist/lib/jasmine-2.0.0/jasmine.js"></script>
  <script src="/static/jasmine/dist/lib/jasmine-2.0.0/jasmine-html.js"></script>
  <script src="/static/jasmine/dist/lib/jasmine-2.0.0/boot.js"></script>
   
  <!-- turn on to run tests -->
<!--  
  <script src="/static/test-specs.js"></script> -->


</body>

{% endblock %}





