<!DOCTYPE html>
<html>
<head>
<!-- jasmine -->
  <link rel="shortcut icon" type="image/png" href="/jasmine/dist/lib/jasmine-2.0.0/jasmine_favicon.png">
  <link rel="stylesheet" href="/static/jasmine/dist/lib/jasmine-2.0.0/jasmine.css">
</head>

<body>

<!-- testing -->
  <script src="/static/jasmine/dist/lib/jasmine-2.0.0/jasmine.js"></script>
  <script src="/static/jasmine/dist/lib/jasmine-2.0.0/jasmine-html.js"></script>
  <script src="/static/jasmine/dist/lib/jasmine-2.0.0/boot.js"></script>

<!-- turn on to run tests -->
  <script src="/static/jasmine/test-specs.js"></script>

</body>
</html>