
{% extends 'base.html' %}
{% block body %}


<!-- testing -->

  <link rel="shortcut icon" type="image/png" href="/jasmine/dist/lib/jasmine-2.0.0/jasmine_favicon.png">
  <link rel="stylesheet" href="/static/jasmine/dist/lib/jasmine-2.0.0/jasmine.css">

  <script src="/static/jasmine/dist/lib/jasmine-2.0.0/jasmine.js"></script>
  <script src="/static/jasmine/dist/lib/jasmine-2.0.0/jasmine-html.js"></script>
  <script src="/static/jasmine/dist/lib/jasmine-2.0.0/boot.js"></script>



<!-- js files -->
  <script src="/static/js/definitions.js"></script>
  <script src="/static/js/apiModel.js"></script>
  <script src="/static/js/functionality.js"></script>
  <script src="/static/js/calculations.js"></script>
  <script src="/static/js/displaydata.js"></script>
  <script src="/static/js/pageActions.js"></script>

<!-- turn on to run tests -->
  <script src="/static/jasmine/test-specs.js"></script>

{% endblock %}
